@charset "UTF-8";

* {
	margin: 2px;
	padding: 10px;
}
#wrapper {
	width: 800px;
	/* border: 1px solid #71B238; */
	border: 1px solid #0099CC;
	margin-top: 15px;
	margin-right: auto;
	margin-bottom: 15px;
	margin-left: auto;
}
body {
	font-family: Arial, sans-serif;
	background-color: #fff;
}
#wrapper #bodyArea {
	margin: auto;
	width: 600px;
	font-family: Arial, sans-serif;
	font-weight: normal;
	color: #000;
}
#wrapper #bodyArea h1 {
	font-family: Arial, sans-serif;
	font-size: 24px;
	font-weight: bold;
	margin-top: 30px;
	margin-bottom: 5px;
	color: #000;
}
#wrapper #bodyArea p {
	font-family: Arial, sans-serif;
	font-style: normal;
	font-size: 16px;
	margin-bottom: 10px;
	color: #000;
	clear: right;
	float: none;
	position: relative;
}


/* Random button bositions */

#pos0 {
	position:absolute;
	margin-left: -300px;
	left: 50%;
}
	
#pos1 {
	position:absolute;
	margin-left: -150px;
	left: 50%;
}

#pos2 {
	position:absolute;
	margin-left: 0px;
	left: 50%;
}

#pos3 {
	position:absolute;
	margin-left: 150px;
	left: 50%;
}

#pos4 {
	position:absolute;
	margin-left: 300px;
	left: 50%;
}

#pos5 {
	position:absolute;
	margin-left: -300px;
	left: 50%;
	margin-top: 150px;
}

#pos6 {
	position:absolute;
	margin-left: -150px;
	left: 50%;
	margin-top: 150px;
}

#pos7 {
	position:absolute;
	margin-left: 0px;
	left: 50%;
	margin-top: 150px;
}

#pos8 {
	position:absolute;
	margin-left: 150px;
	left: 50%;
	margin-top: 150px;
}

#pos9 {
	position:absolute;
	margin-left: 300px;
	left: 50%;
	margin-top: 150px;
}

#pos10 {
	position:absolute;
	margin-left: -300px;
	left: 50%;
	margin-top: 300px;
}

#pos11 {
	position:absolute;
	margin-left: -150px;
	left: 50%;
	margin-top: 300px;
}

#pos12 {
	position:absolute;
	margin-left: 0px;
	left: 50%;
	margin-top: 300px;
}

#pos13 {
	position:absolute;
	margin-left: 150px;
	left: 50%;
	margin-top: 300px;
}

#pos14 {
	position:absolute;
	margin-left: 300px;
	left: 50%;
	margin-top: 300px;
}

#pos15 {
	position:absolute;
	margin-left: -300px;
	left: 50%;
	margin-top: 450px;
}

#pos16 {
	position:absolute;
	margin-left: -150px;
	left: 50%;
	margin-top: 450px;
}

#pos17 {
	position:absolute;
	margin-left: 0px;
	left: 50%;
	margin-top: 450px;
}

#pos18 {
	position:absolute;
	margin-left: 150px;
	left: 50%;
	margin-top: 450px;
}

#pos19 {
	position:absolute;
	margin-left: 300px;
	left: 50%;
	margin-top: 450px;
}

#pos20 {
	position:absolute;
	margin-left: -300px;
	left: 50%;
	margin-top: 450px;
}

#pos21 {
	position:absolute;
	margin-left: -150px;
	left: 50%;
	margin-top: 600px;
}

#pos22 {
	position:absolute;
	margin-left: 0px;
	left: 50%;
	margin-top: 600px;
}

#pos23 {
	position:absolute;
	margin-left: 150px;
	left: 50%;
	margin-top: 600px;
}

#pos24 {
	position:absolute;
	margin-left: 300px;
	left: 50%;
	margin-top: 600px;
}

#left_button {
	position:absolute;
	margin-left: -100px;
	left: 50%;
	margin-top: 100px;
}

#right_button {
	position:absolute;
	margin-left: 100px;
	left: 50%;
	margin-top: 100px;
}